:root {
  /* {Color::style} */
  --color-dark: #380a53;
  --color-dark-95: #380a5395;
  --color-dark-75: #380a5375;
  --color-dark-50: #380a5350;
  --color-dark-25: #380a5325;
  --color-light: #fff4e0;
  --color-light-75: #ffffff52;
  --color-light-80: #33312e1a;
  --color-red-Smooth: #f36;
  --color-red-dark: rgb(241, 37, 88);
  --color-warning: #fc0;
  --color-warning-50: rgba(255, 204, 0, 0.5);
  --color-warning-80: rgba(255, 204, 0, 0.8);
  --color-ocean: #261c6e;
  --color-border: #947b7b2a;
  --color-border-hover: #947b7b7e;
  /* {Font::Family} */
  --font-optical-size: auto;
  /* {Font::Size} */
  --font-Size-Xlarge: 3.25rem;
  --font-Size-large: 3rem;
  --font-Size-medium: 1.125rem;
  --font-LineH-medium: 1.75rem;
  --font-Size-small: 0.875rem;
  --font-Size-xsmall: 0.75rem;
  --font-LineH-xsmall: 1.4;
  /* {Font::Weight} */
  --font-weight-bold: 800;
  --font-weight-medium: 600;
  --font-weight-small: 500;
  /* {Border Radius} */
  --radius--50: 24rem;
  --radius--small: 0.5rem;
  --radius--normal: 0.75rem;
}
::selection {
  background-color: #261c6e;
  color: #fff4e0;
}
.desc-text {
  font-size: var(--font-Size-xsmall);
  color: var(--color-dark-95);
}
::before,
::after {
  --ntt-content-blank: "";
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: var(--color-dark-50);
}
*,
html {
  padding: 0;
  scroll-behavior: smooth;
  margin: 0;
  box-sizing: border-box;
  font-optical-sizing: var(--font-optical-size);
}
body {
  font-family: Inter Regular, sans-serif;
  font-optical-sizing: var(--font-optical-size);
  overflow-x: hidden;
  font-size: 1rem;
  background: var(--color-light);
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  text-rendering: optimizeLegibility;
}
html {
  height: 100%;
}
img {
  border: 0;
}
a,
ol,
ul,
li,
button {
  text-decoration: none;
  list-style: none;
}
h1,
h2,
h3 {
  letter-spacing: -2px;
  line-height: 1;
}
h1 {
  font-size: 3.25rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.875rem;
  }
}
/* {global::padding} */
.ntt-page {
  padding: 0;
  margin: 0;
}
.overflow-hidden {
  overflow: hidden;
}
.ntt-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}
/* {scroll::spy} */
section {
  padding-top: 80px;
}
.fa {
  margin-left: 5px;
}
.button_primary .fa {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.button_primary:hover {
  background-color: var(--color-red-dark);
}
.button_primary {
  grid-column-gap: 0.5rem;
  color: #fff4e0;
  background-color: #f36;
  border-radius: 0.75rem;
  justify-content: center;
  align-items: center;
  padding: 0.625rem 1rem;
  font-family: Inter Medium, sans-serif;
  font-size: var(--font-Size-small);
  font-weight: 500;
  line-height: 1.25rem;
  text-decoration: none;
  transition: background-color 0.25s, color 0.25s;
  display: flex;
}
/* {header} */
/* {heade::item} */
.ntt-header .container {
  height: 700px;
  /* background-image: url(/public/img/home-header-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}
.ntt-home .content-home {
  text-align: center;
  justify-content: center;
  padding-top: 7rem;
  height: 500px;
}
.ntt-home .content-home .home-title h1 {
  color: var(--color-dark);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Intertight Bold, sans-serif;
  font-size: 5.5rem;
  font-weight: 700;
}
@media only screen and (max-width: 991px) {
  .ntt-home .content-home .home-title h1 {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 500px) {
  .ntt-home .content-home .home-title h1 {
    font-size: 3rem;
  }
}
.ntt-home .content-home .home-subtitle p {
  color: var(--color-dark);
  text-align: center;
  padding-top: 2rem;
}
/* {home::button}  */
.ntt-home .content-home .home-btn {
  padding-top: 2rem;
  text-align: center;
}
.ntt-home .content-home .btn-title:hover {
  border: 1px solid var(--color-border-hover);
  box-shadow: var(--color-dark);
}
.ntt-home .content-home .btn-title:hover .fa {
  transform: translateX(4px);
  -webkit-transform: translateX(4px);
  -moz-transform: translateX(4px);
  -ms-transform: translateX(4px);
  -o-transform: translateX(4px);
}
.ntt-home .content-home .btn-title {
  background-color: var(--color-light);
  backdrop-filter: blur(25px);
  padding: 0.6rem 0.6rem 0.6rem 0.15rem;
  border: 1px solid var(--color-border);
  margin-left: 0;
  font-size: var(--font-Size-small);
  color: var(--color-dark);
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  transition: all 0.9s;
  -webkit-transition: all 0.9s;
  -moz-transition: all 0.9s;
  -ms-transition: all 0.9s;
  -o-transition: all 0.9s;
}
.ntt-home .content-home .btn-title .fa {
  transition: all ease-in-out 0.4s;
  -webkit-transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
  -ms-transition: all ease-in-out 0.4s;
  -o-transition: all ease-in-out 0.4s;
}
.ntt-home .content-home .btn-title span {
  color: var(--color-light);
  background-color: var(--color-red-dark);
  padding: 0.5rem 0.5rem 0.5rem 0.6rem;
  border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  -ms-border-radius: 2.5rem;
  -o-border-radius: 2.5rem;
  transition: all 0.9s;
  -webkit-transition: all 0.9s;
  -moz-transition: all 0.9s;
  -ms-transition: all 0.9s;
  -o-transition: all 0.9s;
}
@media only screen and (max-width: 991px) {
  /* {home::button} */
  .ntt-home .content-home .btn-title {
    padding: 0.6rem 0.2rem 0.65rem 0.15rem;
  }
  .ntt-home .content-home .btn-title .fa {
    padding: 0.6rem 0.6rem 0.5rem 0.6rem;
  }
}
@media only screen and (max-width: 580px) {
  .ntt-home .content-home {
    padding-top: 13rem;
  }
  .ntt-header .container {
    height: 600px;
  }
}
/* {style if use header image} */
@media screen and (max-width: 991px) {
  .home-header_image {
    width: 1880px;
    max-width: 1880px;
  }
}
.home-header_image {
  outline-offset: -1px;
  outline: 2px solid #380a53;
  flex: none;
  width: 2140px;
  max-width: 2140px;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg);
  -moz-transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg);
  -ms-transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg);
  -o-transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg);
}
/* {header} */
/* {nav} */
.ntt-nav:hover {
  border: 1px solid var(--color-border-hover);
}
.ntt-nav {
  display: flex;
  position: fixed;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  padding: 0.5rem;
  z-index: 1010;
  width: auto;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-light);
  border: 1px solid var(--color-border);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.ntt_nav-brand {
  align-items: center;
  width: 40px;
  height: 40px;
}
.ntt_nav-brand .rotating-item,
.ntt_nav-brand .rotating-item svg {
  width: 40px;
  color: var(--color-ocean);
  height: 40px;
  transition: transform 0.2s ease;
  -webkit-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
  -ms-transition: transform 0.2s ease;
  -o-transition: transform 0.2s ease;
}
.ntt_nav-li {
  display: flex;
}
.ntt_nav-brand .svg-text {
  width: auto;
  top: -84px;
  color: var(--color-ocean);
  left: 40px;
  position: relative;
  height: 35px;
}
.ntt_nav-brand img {
  width: auto;
  top: -40px;
  left: 1px;
  position: relative;
  height: 42px;
}
/*{nav Link}*/
.ntt-nav-menu {
  text-align: center;
  margin-left: 3.5rem;
}
.ntt-nav-menulist {
  display: flex;
  list-style: none;
}

/*{nav Link}*/

.ntt-navlink {
  text-decoration: none;
  font-size: var(--font-Size-small);
  font-weight: var(--font-weight-small);
  padding: 0rem 1rem;
  color: #380a53;
  height: 12px;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.ntt-navlink .fa {
  margin-right: 10px;
  font-size: var(--font-Size-medium);
}
/*{nav right}*/

.ntt-navadd:hover {
  background-color: var(--color-red-Smooth);
  color: var(--color-light);
}
.ntt-navadd {
  color: var(--color-dark);
  text-align: end;
  border: 1px solid var(--color-border);
  padding: 9px 7px;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: all 0.9s;
  -webkit-transition: all 0.9s;
  -moz-transition: all 0.9s;
  -ms-transition: all 0.9s;
  -o-transition: all 0.9s;
}
.ntt-nav-add {
  display: flex;
  align-items: center;
}
.three {
  display: none;
}
.mobile-menu {
  display: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
@media only screen and (max-width: 768px) {
  .ntt-nav-menu {
    display: none;
  }
  /* {hamburger} */
  .three {
    list-style: none;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    color: var(--color-dark);
    padding-left: 0.7rem;
    text-align: center;
    border: transparent;
  }
  .hamburger .line {
    width: 20px;
    height: 2px;
    background-color: var(--color-dark);
    margin-left: 10px;
    display: block;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  .hamburger .line.line-2 {
    width: 20px;
  }
  .hamburger .line.line-scroll {
    background-color: transparent;
  }
  .hamburger:hover {
    cursor: pointer;
  }
  #hamburger-1.is-active .line:nth-child(2) {
    opacity: 0;
  }
  #hamburger-1.is-active .line:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(45deg);
    -ms-transform: translateY(10px) rotate(45deg);
    -o-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
  }
  #hamburger-1.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    -o-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
  }
  /* {mobile::menu} */
  .mobile-menu {
    display: none;
    transition: all 0.8s ease-in-out !important;
    -webkit-transition: all 0.8s ease-in-out !important;
    -moz-transition: all 0.8s ease-in-out !important;
    -ms-transition: all 0.8s ease-in-out !important;
    -o-transition: all 0.8s ease-in-out !important;
  }
  .mobile-menu-show:hover {
    border: 1px solid var(--color-border-hover);
  }
  .mobile-menu-show {
    width: auto;
    justify-content: center;
    display: block;
    position: fixed;
    top: 80px;
    left: 1rem;
    right: 1rem;
    background-color: var(--color-light);
    height: auto;
    z-index: 1010;
    border: 1px solid var(--color-border);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
  }
  .mobile-menu-show .ntt-mobile-menulist a {
    gap: 10px;
    color: var(--color-dark);
  }
  .mobile-menu-show .ntt-mobile-menulist {
    display: block;
    text-align: center;
    padding: 10px;
  }
}
/*{nav::drop::down}*/
.ntt-nav-drop {
  display: none;
}
.pointer {
  cursor: pointer;
}
.ntt-nav-drop-open:hover {
  border: 1px solid var(--color-dark-75);
}
.ntt-nav-drop-open .ntt_nav-li,
.ntt-nav-drop-open .ntt-nav-menulist {
  display: block;
}
.ntt-nav-drop-open {
  top: 80px;
  display: block;
  z-index: 1011;
  left: 50%;
  position: fixed;
  padding: 0.4rem;
  background-color: var(--color-light);
  border: 1px solid var(--color-dark-25);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.ntt-nav-drop-open .ntt_nav-li .ntt-navlink:hover .fa {
  color: var(--color-red-dark);
}
.ntt-nav-drop-open .ntt_nav-li .ntt-navlink:hover {
  background-color: var(--color-light-80);
}
.ntt-nav-drop-open .ntt_nav-li .ntt-navlink {
  background-color: var(--color-light);
  margin: 0.2rem;
  padding: 2rem 0.4rem 2rem 0.1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.ntt-nav-drop-open .ntt_nav-li .ntt-navlink .drop-box {
  display: flex;
}
.ntt-nav-drop-open .ntt_nav-li .ntt-navlink .drop-box-text {
  display: block;
}
.ntt-nav-drop-open .ntt_nav-li .ntt-navlink .fa {
  font-size: var(--font-Size-large);
  width: 75px;
}
/*{nav::drop::down}*/
/*{mob::menu::docm}*/
.ntt-nav-docm {
  display: none;
}
.ntt-nav-docm-open {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
/*{mob::menu::docm}*/
/* {nav} */
/* {services} */
/* {services::grid::design} */
.services_ntt_list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
@media only screen and (max-width: 920px) {
  .services_ntt_list {
    grid-row-gap: 1.5rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
}
/* {services::grid::design} */
.services_ntt-box {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
}
.services_ntt-wrapper {
  z-index: 1;
  height: auto;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: 1px;
  transition: background-color 1s;
  display: flex;
  position: relative;
  overflow: hidden;
}
/* {services::content} */
.services_ntt-title {
  height: auto;
  align-content: start;
}
.services_ntt-title h1 {
  color: var(--color-dark);
}
.services_ntt-title h1 span {
  color: var(--color-dark);
}
.services_ntt-subtitle {
  height: auto;
  align-content: end;
}
/* {services::item} */
.ntt_services-item {
  padding-top: 2rem;
}
.ntt_services-item-box:hover {
  border: 1px solid var(--color-border-hover);
}
.ntt_services-item-box {
  text-align: center;
  border-radius: 1.5rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--color-light);
  position: relative;
  overflow: hidden;
  border: 1px solid var(--color-border);
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
}
.ntt_services-item-wrapper {
  z-index: 1;
  background: linear-gradient(#fff4e0, #ebe6df1a);
  border-radius: 1.5rem;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: 1px;
  transition: background-color 1s;
  display: flex;
  position: relative;
  overflow: hidden;
}
.ntt_services-item-image {
  background-color: transparent;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  align-self: stretch;
  align-items: flex-end;
  display: flex;
  position: relative;
  height: 200px;
}
.ntt_services-item-text {
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
  flex-direction: column;
  flex: 1;
  display: flex;
}
.ntt_services-item-text h3 span {
  color: var(--color-dark);
}
.ntt_services-item-btntxt {
  display: flex;
  margin: 0;
  align-items: center;
  justify-items: start;
}
.ntt_services-item-btntxt p {
  padding-left: 10px;
  color: var(--color-dark-95);
  font-weight: var(--font-weight-subtitle);
}
.ntt_services-item-content {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  color: var(--color-dark);
  text-align: left;
  background-color: var(--color-light-40);
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem;
  display: flex;
}
.ntt_services-item-gradient {
  background-image: linear-gradient(to top, #fff4e0, #fff4e05b, #d5cadb00);
  width: 100%;
  height: 25%;
  position: absolute;
  inset: auto 0% 0%;
}
.ntt_services-item_list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
@media only screen and (max-width: 920px) {
  .ntt_services-item_list {
    grid-row-gap: 1.5rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
}
/* {services} */
/* {teams} */
/* {team::grid::design} */
.team_ntt_list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
@media only screen and (max-width: 920px) {
  .team_ntt_list {
    grid-row-gap: 1.5rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
}
/* {team::grid::design} */
.team_ntt-box {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
}
.team_ntt-wrapper {
  z-index: 1;
  height: auto;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: 1px;
  transition: background-color 1s;
  display: flex;
  position: relative;
  overflow: hidden;
}
/* {team::content} */
.team_ntt-title {
  height: auto;
  align-content: start;
}
.team_ntt-title h1 {
  color: var(--color-dark);
}
.team_ntt-title h1 span {
  color: var(--color-dark);
}
.team_ntt-subtitle {
  height: auto;
  align-content: end;
}
/* {teams::swipper} */
.ntt_swiper {
  height: 400px;
  padding-right: 0px !important;
  cursor: pointer;
}
.ntt_swiper .swiper-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
}
.ntt_swiper .swiper-slide {
  padding-right: 20px !important;
}
.ntt_swiper .swiper-slide .topdown {
  margin-top: 1.75rem;
}
/* {team::swipper::content} */
.ntt_swiper .product-grid:hover {
  border: 1px solid var(--color-border-hover);
}
.pic-1,
.pic-2 {
  background-image: url(/public/swipper/shadow.png);
  background-size: cover;
}
.ntt_swiper .product-grid {
  text-align: center;
  overflow: hidden;
  position: relative;
  border: 1px solid var(--color-border);
  background-color: var(--color-light-40);
  backdrop-filter: blur(15px);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.ntt_swiper .product-grid:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.ntt_swiper .product-grid .product-image {
  overflow: hidden;
  position: relative;
}
.ntt_swiper .product-grid .product-image h3 {
  padding-top: 1rem;
  margin-bottom: -20px;
  color: var(--color-dark);
}
.ntt_swiper .product-grid .product-image p {
  padding-bottom: 1rem;
  color: var(--color-dark);
}
.ntt_swiper .product-grid .product-image a {
  display: block;
}
.ntt_swiper .product-grid .product-image img {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 920px) {
  .ntt_swiper .product-grid {
    margin-bottom: 0px;
  }
  .ntt_swiper {
    padding-left: 0;
  }
}
/* {teams} */

.ntt_client-title {
  text-align: center;
  padding-bottom: 0.75rem;
}
.ntt_client-subtitle {
  text-align: center;
  padding-bottom: 1rem;
}
.ntt_client-title h1 {
  color: var(--color-dark);
}
.ntt_client-title p {
  color: var(--color-dark);
}
/*{client}*/
.ntt_client {
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.ntt_client .ntt_client-content .ntt_client_top .ntt_client_title,
.ntt_client .ntt_client-content .ntt_client_top .ntt_client_subtitle,
.ntt_client .ntt_client-content .ntt_client_bottom .ntt_swipper-slider {
  text-align: center;
}
/* {client::item} */
.ntt_client-item_list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
@media only screen and (max-width: 920px) {
  .ntt_client-item_list {
    grid-row-gap: 1.5rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
}
.ntt_client-item-box {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}
.ntt_client-item-wrapper {
  width: 100%;
}
.ntt_client-item-content {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}
/* {inside::grid} */
.ntt_client-item_list-alt {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  padding: 0.5rem 0rem;
}
@media only screen and (max-width: 920px) {
  .ntt_client-item_list-alt {
    grid-row-gap: 1.5rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
}
.ntt_client-item-box-alt:hover {
  border: 1px solid var(--color-border-hover);
}
.ntt_client-item-box-alt {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  position: relative;
  overflow: hidden;
  border: 1px solid var(--color-border);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
}
.ntt_client-item-content-alt {
  background-color: var(--color-light-40);
  padding: 1rem;
  display: flex;
}
.ntt_client-item-content-alt-logo {
  background-color: var(--color-light-40);
  display: block;
}
.ntt_client-item-logo-title {
  padding: 1rem;
  text-align: start;
}
.ntt_client-item-logo-title h1 {
  color: var(--color-dark);
}
.ntt_client-item-logo-title p {
  color: var(--color-dark);
}
.ntt_client-item-image {
  background-color: transparent;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  position: relative;
}
.ntt_client-item-text h2 {
  color: var(--color-light);
}
.ntt_client-item-text h5 {
  padding-top: 0.5rem;
  color: var(--color-light);
}
.ntt_client-item-text p {
  padding-top: 1rem;
  color: var(--color-light);
}
.btn-r-desk {
  padding: 1rem 0rem;
}
.btn-r-desk a:hover {
  background-color: var(--color-red-dark);
  color: var(--color-light);
}
.btn-r-desk a {
  background-color: var(--color-red-Smooth);
  color: var(--color-light);
  padding: 10px;
  border-radius: 0.75rem;
  -webkit-border-radius: 0.75rem;
  -moz-border-radius: 0.75rem;
  -ms-border-radius: 0.75rem;
  -o-border-radius: 0.75rem;
  transition: 0.4s all ease-in-out;
  -webkit-transition: 0.7s all ease-in-out;
  -moz-transition: 0.4s all ease-in-out;
  -ms-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
}
.btn-r-desk a .fa-arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.btn-r-desk span {
  color: var(--color-light);
}
/*{client:logo}*/
.ntt_client-logo-container {
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  display: flex;
  overflow: hidden;
}
.home-logo-wrapper {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  justify-content: center;
  align-items: center;
  display: flex;
}
.client-grid {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  justify-content: center;
  align-items: center;
  display: inline-block;
  white-space: nowrap;
}
.ntt_client-logo-box {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
  padding-left: 1rem;
  animation: 5s clients infinite linear;
  -webkit-animation: 5s clients infinite linear;
}
.ntt_client-logo-title {
  color: var(--color-dark);
}
@keyframes clients {
  from {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}
.ntt_client-content-tr {
  height: auto;
  width: 100%;
  text-align: center;
}
.ntt_client-content-tr h2 {
  color: var(--color-dark);
}

.ntt_client-content-tr p {
  color: var(--color-dark);
}
.ntt_client-item-text-rb {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 260px;
}
.ntt_client-item-text-rb h1 {
  color: var(--color-dark);
}
.ntt_client-item-text-rb p {
  padding-top: 0.7rem;
  color: var(--color-dark);
}
.ntt_client-item-text-rb h3 {
  color: var(--color-dark);
}
.ntt_client-content-tr-img {
  margin: auto;
  align-items: center;
  align-content: center;
}
.ntt_client-content-tr-title h3 {
  color: var(--color-warning);
  padding-left: 1rem;
}
@media only screen and (max-width: 500px) {
  .ntt_client-content-tr-img img {
    height: 140px;
  }
}
/* {contact} */
/* {contact::grid} */
.ntt_contact_list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
@media only screen and (max-width: 920px) {
  .ntt_contact_list {
    grid-row-gap: 1.5rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
}
/* {contact::grid} */
.ntt_contact-box {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}
.ntt_contact-wrapper {
  z-index: 1;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: 1px;
  transition: background-color 1s;
  display: flex;
  position: relative;
  overflow: hidden;
}
/* {contact::item} */

.ntt_contact-qlinks {
  padding: 0.5rem;
  color: var(--color-dark);
  text-align: center;
}
.ntt_contact-qlinks .fa {
  color: var(--color-dark);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.ntt-contact-title h1 {
  color: var(--color-dark);
}
.ntt-contact-subtitle h4 {
  color: var(--color-dark);
  padding-top: 2.7rem;
}
.ntt-contact-subtitle p {
  color: var(--color-dark);
}
@media only screen and (max-width: 578px) {
  .ntt-contact-title {
    height: 70px;
  }
}
/*{maps}*/
.ntt_contact-loct {
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  height: 290px;
}
.ntt_direct-link::before {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-name: pulse_maps;
  -webkit-animation-name: pulse_maps;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-color: inherit;
  border-radius: 50%;
  overflow: hidden;
  content: "";
  opacity: 0;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  position: inherit;
  height: inherit;
  width: inherit;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@keyframes pulse_maps {
  0% {
    box-shadow: 0 0 0 0 var(--color-dark);
    opacity: 1;
  }
  to {
    box-shadow: 0 0 0 15px var(--color-dark);
    opacity: 0;
  }
}
@-webkit-keyframes pulse_maps {
  0% {
    box-shadow: 0 0 0 0 var(--color-dark);
    opacity: 1;
  }
  to {
    box-shadow: 0 0 0 15px var(--color-dark);
    opacity: 0;
  }
}
.maps,
.ntt_tag,
.ntt_direct-link {
  position: absolute;
}
.ntt_direct-link {
  height: 150px;
  width: 150px;
  z-index: 1;
  top: 20%;
}
.ntt_contact-loct:hover .maps {
  width: 250px;
  top: 10%;
}
.maps {
  z-index: 2;
  top: 20%;
  width: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
}
.ntt_tag {
  z-index: 4;
  top: 30%;
  right: 22%;
  transform: rotate(-7deg);
  background-color: var(--color-warning-50);
  backdrop-filter: blur(15px);
  padding: 10px;
  text-align: center;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
}
@media only screen and (max-width: 1024px) {
  .ntt_tag {
    top: 50%;
  }
}
@media only screen and (max-width: 920px) {
  .ntt_tag {
    right: 26%;
    top: 30%;
  }
}
@media only screen and (max-width: 578px) {
  .ntt_tag {
    top: 50%;
  }
}
.client {
  margin: 4rem 0rem;
}
.marg {
  color: var(--color-dark);
}
/* {footer} */
footer {
  padding-top: 90px;
}
.ntt-footer .footer-copyright {
  text-align: center;
}
.ntt-footer .footer-copyright p {
  color: var(--color-dark);
}
