/* all css script is write by it dept. of nusa timore telematika */
@font-face {
  font-family: "Inter Regular";
  src: url("https://cdn.prod.website-files.com/6215a9ebdd6ac00165655f15/64affe98aa7a4eeb6809552c_Inter-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("https://cdn.prod.website-files.com/6215a9ebdd6ac00165655f15/64affe9889b41a0a5f5f547f_Inter-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter Bold";
  src: url("https://cdn.prod.website-files.com/6215a9ebdd6ac00165655f15/64affe9827f099c6e986029f_Inter-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter Medium";
  src: url("https://cdn.prod.website-files.com/6215a9ebdd6ac00165655f15/64affe9880bb21c2db3223fd_Inter-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Intertight Medium";
  src: url("https://cdn.prod.website-files.com/6215a9ebdd6ac00165655f15/64affebd40b1f54e462f423e_InterTight-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Intertight";
  src: url("https://cdn.prod.website-files.com/6215a9ebdd6ac00165655f15/64affebd0854c35bcd9797c6_InterTight-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Intertight Bold";
  src: url("https://cdn.prod.website-files.com/6215a9ebdd6ac00165655f15/64affebd67d9771a8b37f819_InterTight-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Intertight Regular";
  src: url("https://cdn.prod.website-files.com/6215a9ebdd6ac00165655f15/64affebded2efb7f078b8ce4_InterTight-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  /* {Color::style} */
  --color-dark: #380a53;
  --color-dark-95: #380a5395;
  --color-dark-75: #380a5375;
  --color-dark-50: #380a5350;
  --color-dark-25: #380a5325;
  --color-light: #fff4e0;
  --color-light-75: #ffffff52;
  --color-light-80: #33312e1a;
  --color-red-Smooth: #f36;
  --color-red-dark: rgb(241, 37, 88);
  --color-warning: #fc0;
  --color-warning-50: rgba(255, 204, 0, 0.5);
  --color-warning-80: rgba(255, 204, 0, 0.8);
  --color-ocean: #261c6e;
  --color-border: #947b7b46;
  --color-border-hover: #947b7b7e;
  /* {Font::Family} */
  --font-optical-size: auto;
  /* {Border Radius} */
  --radius--50: 24rem;
  --radius--small: 0.5rem;
  --radius--normal: 0.75rem;
  /* {transition} */
  --height-trans3: height 0.3s ease-in;
  --height-trans7: height 0.7s ease-in;
  --heightmx-trans3: max-height 0.3s ease-in;
  --heightmx-trans7: max-height 0.7s ease-in;
  --all-trans7: all 0.7s ease-in;
  --all-trans3: all 0.3s ease-in;
}
::selection {
  background-color: #261c6e;
  color: #fff4e0;
}
.disable {
  font-size: 0.875rem;
  color: var(--color-dark-95);
}
::before,
::after {
  --ntt-content-blank: "";
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: var(--color-dark-50);
}
*,
html {
  padding: 0;
  scroll-behavior: smooth;
  margin: 0;
  box-sizing: border-box;
  font-optical-sizing: var(--font-optical-size);
}
body {
  font-family: Inter Regular, sans-serif;
  font-optical-sizing: var(--font-optical-size);
  overflow-x: hidden;
  font-size: 1rem;
  background: var(--color-light);
  color: var(--color-dark);
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  text-rendering: optimizeLegibility;
}
html {
  height: 100%;
}
img {
  border: 0;
}
a,
button {
  cursor: pointer;
}
a,
ol,
ul,
li,
button {
  text-decoration: none;
  list-style: none;
  font-size: 1rem;
  font-family: Inter Medium, sans-serif;
  font-weight: 500;
  color: var(--color-dark);
}
.text_action {
  font-size: 1.125rem;
  font-family: Inter Medium, sans-serif;
  font-weight: 500;
  color: var(--color-dark);
}
h1 {
  letter-spacing: -2px;
  margin: 0;
  font-family: Intertight Bold, sans-serif;
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 1;
}

h2 {
  margin: 0;
  font-family: Intertight Bold, sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
}

h3 {
  margin: 0;
  font-family: Inter Bold, sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
}

h4 {
  margin: 0;
  font-family: Inter Bold, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
}

h5 {
  margin: 0;
  font-family: Inter Bold, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

h6 {
  margin: 0;
  font-family: Inter Bold, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

p {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  font-family: Inter, sans-serif;
}

.gap_row5 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }
}
/* {custom::class}  */

.line_devider {
  margin: 5rem 1rem 2rem 1rem;
  z-index: 1;
  background-image: linear-gradient(
    270deg,
    var(--color-light),
    var(--color-dark) 50%,
    var(--color-light)
  );
  opacity: 0.24;
  width: 100%;
  height: 1px;
  position: relative;
}

.border_box:hover {
  border: 1px solid var(--color-border-hover);
}
.border_box {
  border: 1px solid var(--color-border);
  transition: var(--all-trans7);
  -webkit-transition: var(--all-trans7);
  -moz-transition: var(--all-trans7);
  -ms-transition: var(--all-trans7);
  -o-transition: var(--all-trans7);
}

.home-title h1 {
  letter-spacing: -3px;
  font-size: 8.5rem;
  font-weight: 700;
  line-height: 0.85;
}
.home-title h1 span {
  letter-spacing: -3px;
  font-size: 8.5rem;
  font-weight: 700;
  line-height: 0.85;
  margin-left: -25px;
}

@media screen and (max-width: 991px) {
  .home-title h1 {
    font-size: 7rem;
  }
}
@media screen and (max-width: 720px) {
  .home-title h1 span,
  .home-title h1 {
    font-size: 5rem;
  }
  .home-title h1 span {
    margin-left: -1px;
  }
}
@media screen and (max-width: 495px) {
  .home-title h1 span,
  .home-title h1 {
    font-size: 5rem;
  }
  .home-title h1 span {
    margin-left: -1px;
  }
}
/* {ember:grid} */
.embed-list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
@media only screen and (max-width: 920px) {
  .embed-list {
    grid-row-gap: 1.5rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
}
/* {tabs::2::::design */
.embed-box {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
}
.embed-wrapper {
  z-index: 1;
  height: auto;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: 1px;
  display: flex;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .heading-style-h3 {
    font-size: 1.5rem;
  }
}

.text-size-medium {
  font-size: 1.125rem;
}
.text-size-medium-italic {
  font-style: italic;
  font-size: 1.125rem;
}
/* team name */
.home-team_heading {
  padding-top: 20px;
  line-height: 36px;
  font-weight: bold;
}
/* {global::padding} */
.ntt-page {
  padding: 0;
  margin: 0;
}

.ntt-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}
/* {scroll::spy} */
section {
  padding-top: 90px;
}

.fa {
  margin-left: 5px;
}
/* {button} */
.button_primary .fa {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.button_primary:hover {
  background-color: var(--color-red-dark);
}
.button_primary {
  grid-column-gap: 0.5rem;
  color: #fff4e0;
  background-color: #f36;
  border-radius: 0.75rem;
  justify-content: center;
  align-items: center;
  padding: 0.625rem 1rem;
  line-height: 1.25rem;
  text-decoration: none;
  display: flex;
}
/* button::secondary */
.button_secondary .fa {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.button_secondary:hover {
  color: var(--color-light);
  background-color: var(--color-warning);
}
.button_secondary {
  grid-column-gap: 0.5rem;
  color: var(--color-dark);
  background-color: var(--color-warning);
  border-radius: 0.75rem;
  justify-content: center;
  align-items: center;
  padding: 0.625rem 1rem;
  line-height: 1.25rem;
  text-decoration: none;
  display: flex;
}
/* button::light */
.button_light .fa {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.button_light:hover {
  background-color: var(--color-red-Smooth);
  color: var(--color-light);
}
.button_light {
  grid-column-gap: 0.5rem;
  color: var(--color-dark);
  border: 1px solid var(--color-border);
  background-color: var(--color-light);
  border-radius: 0.75rem;
  justify-content: center;
  align-items: center;
  padding: 0.625rem 1rem;
  line-height: 1.25rem;
  text-decoration: none;
  display: flex;
}

.btn_ext {
  font-size: 1.125rem;
}

.btn_ext-unl {
  font-size: 1.125rem;
  text-decoration: underline;
}

/* {animated::shape::hover} */
.shape-spin:hover {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* {header} */
/* {heade::item} */
.ntt-header .container {
  height: 700px;
  /* background-image: url(/public/img/home-header-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}
.home-title {
  padding-top: 12rem;
}
.ntt-home .content-home {
  text-align: center;
  justify-content: center;
}
.hero-heading {
  letter-spacing: -3px;
  font-size: 8.5rem;
  font-weight: 700;
  line-height: 0.85;
}

.hero-heading.custom {
  font-size: 7.4rem;
}

.ntt-home .content-home .home-subtitle p {
  text-align: center;
  padding-top: 2rem;
}
/* {home::button}  */
.ntt-home .content-home .home-btn {
  padding-top: 2rem;
  text-align: center;
}
.ntt-home .content-home .btn-title:hover {
  border: 1px solid var(--color-border-hover);
  box-shadow: var(--color-dark);
}
.ntt-home .content-home .btn-title:hover .fa {
  transform: translateX(4px);
  -webkit-transform: translateX(4px);
  -moz-transform: translateX(4px);
  -ms-transform: translateX(4px);
  -o-transform: translateX(4px);
}
.ntt-home .content-home .btn-title {
  background-color: var(--color-light);
  backdrop-filter: blur(25px);
  padding: 0.6rem 0.6rem 0.6rem 0.15rem;
  border: 1px solid var(--color-border);
  margin-left: 0;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  transition: var(--all-trans7);
  -webkit-transition: var(--all-trans7);
  -moz-transition: var(--all-trans7);
  -ms-transition: var(--all-trans7);
  -o-transition: var(--all-trans7);
}
.ntt-home .content-home .btn-title .fa {
  transition: var(--all-trans3);
  -webkit-transition: var(--all-trans3);
  -moz-transition: var(--all-trans3);
  -ms-transition: var(--all-trans3);
  -o-transition: var(--all-trans3);
}
.ntt-home .content-home .btn-title span {
  color: var(--color-light);
  background-color: var(--color-red-dark);
  padding: 0.5rem 0.5rem 0.5rem 0.6rem;
  border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  -ms-border-radius: 2.5rem;
  -o-border-radius: 2.5rem;
  transition: var(--all-trans7);
  -webkit-transition: var(--all-trans7);
  -moz-transition: var(--all-trans7);
  -ms-transition: var(--all-trans7);
  -o-transition: var(--all-trans7);
}
@media only screen and (max-width: 991px) {
  /* {home::button} */
  .ntt-home .content-home .btn-title {
    padding: 0.6rem 0.2rem 0.65rem 0.15rem;
  }
  .ntt-home .content-home .btn-title .fa {
    padding: 0.6rem 0.6rem 0.5rem 0.6rem;
  }
}

@media only screen and (max-width: 580px) {
  .home-title {
    padding-top: 10rem;
  }
  .ntt-header .container {
    height: 600px;
  }
}
/* {header} */

.main_page {
  padding: 0rem 1rem 0rem 1rem;
  width: 100%;
}
.ntt_nav-custom {
  width: auto;
  padding: 0.5rem;
  position: fixed;
  z-index: 1011;
  top: 1rem;
  right: 1rem;
  left: 1rem;
  background-color: var(--color-light);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.nav_menu {
  margin: auto;
  padding-left: 140px;
  /* margin-right: -70; */
}
.ntt-nav-menulist {
  display: flex;
  gap: 20px;
}
.ntt_nav {
  justify-content: space-between;
  display: flex;
  align-items: center;
  border-radius: 0.7rem;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  -ms-border-radius: 0.7rem;
  -o-border-radius: 0.7rem;
}

/* new */
.ntt_nav-brand {
  align-items: center;
  justify-content: start;
  justify-self: start;
  text-align: start;
  width: 40px;
  height: 40px;
}
.ntt_nav-brand .rotating-item,
.ntt_nav-brand .rotating-item svg {
  width: 40px;
  color: var(--color-ocean);
  height: 40px;
  transition: transform 0.2s ease;
  -webkit-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
  -ms-transition: transform 0.2s ease;
  -o-transition: transform 0.2s ease;
}
.ntt_nav-brand .svg-text {
  width: auto;
  top: -84px;
  color: var(--color-ocean);
  left: 40px;
  position: relative;
  height: 35px;
}
.ntt_nav-brand img {
  width: auto;
  top: -40px;
  left: 1px;
  position: relative;
  height: 42px;
}

.ntt-mobiles {
  display: block;
  background-color: var(--color-light);
  text-align: center;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.btn-mobile-m {
  max-width: 170px;
  text-align: center;
  margin: auto;
}
.mobile-m {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.ntt_nav-dropdown {
  opacity: 0;
  display: none;
  height: 0;
  transition: var(--heightmx-trans7);
  overflow: hidden;
  -webkit-transition: var(--heightmx-trans7);
  -moz-transition: var(--heightmx-trans7);
  -ms-transition: var(--heightmx-trans7);
  -o-transition: var(--heightmx-trans7);
}
.nav_add {
  display: none;
}

.nav_right {
  display: flex;
  gap: 10px;
  align-items: center;
}
@media only screen and (max-width: 920px) {
  .nav_menu,
  .nav_right {
    display: none;
  }
  .nav_add {
    display: block;
    cursor: pointer;
  }

  .ntt_nav-dropdown {
    opacity: 0;
    height: 0;
    max-height: 0;
    display: block;
    transition: var(--heightmx-trans7);
    overflow: hidden;
    -webkit-transition: var(--heightmx-trans7);
    -moz-transition: var(--heightmx-trans7);
    -ms-transition: var(--heightmx-trans7);
    -o-transition: var(--heightmx-trans7);
  }
  .is-open {
    text-align: center;
    position: relative;
    display: block;
    opacity: 1;
    z-index: 1000;
    height: auto;
    max-height: 500px;
    transition: var(--heightmx-trans7);
    -webkit-transition: var(--heightmx-trans7);
    -moz-transition: var(--heightmx-trans7);
    -ms-transition: var(--heightmx-trans7);
    -o-transition: var(--heightmx-trans7);
  }
}

.three {
  display: none;
}
@media only screen and (max-width: 768px) {
  /* {hamburger} */
  .three {
    list-style: none;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: var(--color-light);
    text-align: center;
    border: transparent;
  }
  .hamburger .line {
    width: 40px;
    height: 2px;
    background-color: var(--color-dark);
    display: block;
    margin: 8px auto;
    transition: var(--all-trans3);
    -webkit-transition: var(--all-trans3);
    -o-transition: var(--all-trans3);
    -moz-transition: var(--all-trans3);
    -ms-transition: var(--all-trans3);
  }
  .hamburger:hover {
    cursor: pointer;
  }
  #hamburger-1.is-active .line:nth-child(1) {
    transform: translateY(5px) rotate(30deg);
    -webkit-transform: translateY(5px) rotate(30deg);
    -ms-transform: translateY(5px) rotate(30deg);
    -o-transform: translateY(5px) rotate(30deg);
    -moz-transform: translateY(5px) rotate(30deg);
  }
  #hamburger-1.is-active .line:nth-child(2) {
    transform: translateY(-5px) rotate(-30deg);
    -webkit-transform: translateY(-5px) rotate(-30deg);
    -ms-transform: translateY(-5px) rotate(-30deg);
    -o-transform: translateY(-5px) rotate(-30deg);
    -moz-transform: translateY(-5px) rotate(-30deg);
  }
}
/*{nav::drop::down}*/
.ntt-nav-drop {
  display: none;
}
.pointer {
  cursor: pointer;
}
/*{nav::drop::down}*/
/*{mob::menu::docm}*/
.ntt-nav-docm {
  display: none;
}
.ntt-nav-docm-open {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
/*{mob::menu::docm}*/
/* {nav} */
/* {services} */
/* {services::grid::design} */
.services_ntt_list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
@media only screen and (max-width: 920px) {
  .services_ntt_list {
    grid-row-gap: 1.5rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
}
/* {services::grid::design} */
.services_ntt-box {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
}
.services_ntt-wrapper {
  z-index: 1;
  height: auto;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: 1px;
  display: flex;
  position: relative;
  overflow: hidden;
}
/* {services::content} */
.services_ntt-title {
  height: auto;
  align-content: start;
}

.services_ntt-subtitle {
  height: auto;
  align-content: end;
}
/* {services::item} */
.ntt_services-item {
  padding-top: 2rem;
}

.ntt_services-item-box {
  text-align: center;
  border-radius: 1.5rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--color-light);
  position: relative;
  overflow: hidden;
}
.ntt_services-item-wrapper {
  z-index: 1;
  background: linear-gradient(#fff4e0, #ebe6df1a);
  border-radius: 1.5rem;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: 1px;
  display: flex;
  position: relative;
  overflow: hidden;
}
.ntt_services-item-image {
  background-color: transparent;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  align-self: stretch;
  align-items: flex-end;
  display: flex;
  position: relative;
  height: 200px;
}
.ntt_services-item-text {
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
  flex-direction: column;
  flex: 1;
  display: flex;
}
.ntt_services-item-btntxt {
  display: flex;
  margin: 0;
  align-items: center;
  justify-items: start;
}
.ntt_services-item-btntxt p {
  padding-left: 10px;
  font-weight: var(--font-weight-subtitle);
}
.ntt_services-item-btntxt .embed-wrapper .disable {
  margin: 0;
  padding-top: 7px;
}
@media only screen and (max-width: 500px) {
  .ntt_services-item-btntxt .embed-wrapper .disable {
    padding-top: 0;
    margin-top: -10px;
  }
}
.ntt_services-item-content {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  text-align: left;
  background-color: var(--color-light-40);
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem;
  display: flex;
}
.ntt_services-item-gradient {
  background-image: linear-gradient(to top, #fff4e0, #fff4e05b, #d5cadb00);
  width: 100%;
  height: 25%;
  position: absolute;
  inset: auto 0% 0%;
}
.ntt_services-item_list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
@media only screen and (max-width: 920px) {
  .ntt_services-item_list {
    grid-row-gap: 1.5rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
}

/* {services} */
/* {teams} */
/* {team::grid::design} */
.team_ntt_list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
@media only screen and (max-width: 920px) {
  .team_ntt_list {
    grid-row-gap: 1.5rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
}
/* {team::grid::design} */
.team_ntt-box {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
}
.team_ntt-wrapper {
  z-index: 1;
  height: auto;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: 1px;
  display: flex;
  position: relative;
  overflow: hidden;
}
/* {team::content} */
.team_ntt-title {
  height: auto;
  align-content: start;
}
.team_ntt-subtitle {
  height: auto;
  align-content: end;
}
/* {teams::swipper} */
.ntt_swiper {
  height: 400px;
  padding-right: 0px !important;
  cursor: pointer;
}
.ntt_swiper .swiper-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
}
.ntt_swiper .swiper-slide {
  padding-right: 20px !important;
}
.ntt_swiper .swiper-slide .topdown {
  margin-top: 1.75rem;
}
/* {team::swipper::content} */
.pic-1,
.pic-2 {
  background-image: url(/public/swipper/shadow.png);
  background-size: cover;
}
.ntt_swiper .product-grid {
  text-align: center;
  overflow: hidden;
  position: relative;
  background-color: var(--color-light-40);
  backdrop-filter: blur(15px);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.ntt_swiper .product-grid:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.ntt_swiper .product-grid .product-image {
  overflow: hidden;
  position: relative;
}
.ntt_swiper .product-grid .product-image h4 {
  padding-top: 1rem;
  margin-bottom: -20px;
}
.ntt_swiper .product-grid .product-image p {
  padding-bottom: 1rem;
}
.ntt_swiper .product-grid .product-image a {
  display: block;
}
.ntt_swiper .product-grid .product-image img {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 920px) {
  .ntt_swiper .product-grid {
    margin-bottom: 0px;
  }
  .ntt_swiper {
    padding-left: 0;
  }
}
/* {teams} */

/* {contact} */
/* {contact::grid} */
.ntt_contact_list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
@media only screen and (max-width: 920px) {
  .ntt_contact_list {
    grid-row-gap: 1.5rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
}
/* {contact::grid} */
.ntt_contact-box {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}
.ntt_contact-wrapper {
  z-index: 1;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: 1px;
  display: flex;
  position: relative;
  overflow: hidden;
}
/* {contact::item} */

.ntt_contact-qlinks {
  padding: 0.5rem;

  text-align: center;
}
.ntt_contact-qlinks .fa {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.ntt-contact-subtitle h4 {
  padding-top: 2.7rem;
}
@media only screen and (max-width: 578px) {
  .ntt-contact-title {
    height: 70px;
  }
}
/*{maps}*/
.ntt_contact-loct {
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  height: 290px;
}
.ntt_direct-link::before {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-name: pulse_maps;
  -webkit-animation-name: pulse_maps;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-color: inherit;
  border-radius: 50%;
  overflow: hidden;
  content: "";
  opacity: 0;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  position: inherit;
  height: inherit;
  width: inherit;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@keyframes pulse_maps {
  0% {
    box-shadow: 0 0 0 0 var(--color-dark);
    opacity: 1;
  }
  to {
    box-shadow: 0 0 0 15px var(--color-dark);
    opacity: 0;
  }
}
@-webkit-keyframes pulse_maps {
  0% {
    box-shadow: 0 0 0 0 var(--color-dark);
    opacity: 1;
  }
  to {
    box-shadow: 0 0 0 15px var(--color-dark);
    opacity: 0;
  }
}
.maps,
.ntt_tag,
.ntt_direct-link {
  position: absolute;
}
.ntt_direct-link {
  height: 150px;
  width: 150px;
  z-index: 1;
  top: 20%;
}
.ntt_contact-loct:hover .maps {
  width: 250px;
  top: 10%;
}
.maps {
  z-index: 2;
  top: 20%;
  width: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: var(--all-trans7);
  -webkit-transition: var(--all-trans7);
  -moz-transition: var(--all-trans7);
  -ms-transition: var(--all-trans7);
  -o-transition: var(--all-trans7);
}
.ntt_tag {
  z-index: 4;
  top: 30%;
  right: 22%;
  transform: rotate(-7deg);
  background-color: var(--color-warning-50);
  backdrop-filter: blur(15px);
  padding: 10px;
  text-align: center;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
}
@media only screen and (max-width: 1024px) {
  .ntt_tag {
    top: 50%;
  }
}
@media only screen and (max-width: 920px) {
  .ntt_tag {
    right: 26%;
    top: 30%;
  }
}
@media only screen and (max-width: 578px) {
  .ntt_tag {
    top: 50%;
  }
}
.client {
  margin: 4rem 0rem;
}
.marg {
  color: var(--color-dark);
  padding-top: 2rem;
}
/* {footer} */
footer {
  padding-top: 90px;
}

.ntt-footer .footer-copyright {
  text-align: center;
}

/* {faq_ntt} */
/* {faq_ntt::grid::design} */
.faq_ntt_list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
@media only screen and (max-width: 920px) {
  .faq_ntt_list {
    grid-row-gap: 1.5rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
}
/* {services::grid::design} */
.faq_ntt-box {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;

  overflow: hidden;
}
.faq_ntt-wrapper {
  z-index: 1;
  height: auto;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: 1px;
  display: flex;
  overflow: hidden;
}
.faq_ntt-title {
  height: auto;
  align-content: start;
}
.faq_ntt-title .faq_ntt-title-btn {
  display: flex;
}
.faq_ntt-title .faq_ntt-title-btn p {
  padding-right: 10px;
}
/* accord */
.accordion {
  height: auto;
}
.accordion .accordion-content {
  margin: 20px 0;
  height: auto;
  color: var(--color-dark);
  overflow: hidden;
  border-radius: 0.875rem;
  -webkit-border-radius: 0.875rem;
  -moz-border-radius: 0.875rem;
  -ms-border-radius: 0.875rem;
  -o-border-radius: 0.875rem;
}

.accordion-content.is-opens {
  padding-bottom: 20px;
}
.accordion-content .acc-head {
  display: flex;
  min-height: 50px;
  padding: 0 15px;
  cursor: pointer;
  align-items: center;
}

.accordion-content-title {
  color: var(--color-dark);
  padding-left: 1rem;
}

.accordion-content-description .fa-minus,
.accordion-content-description .fa-plus {
  transition: var(--all-trans3);
  -webkit-transition: var(--all-trans3);
  -moz-transition: var(--all-trans3);
  -ms-transition: var(--all-trans3);
  -o-transition: var(--all-trans3);
}
.accordion-content-description {
  height: 0;
  color: var(--color-dark);
  padding-left: 2.7rem;
  padding-right: 1rem;
  transition: var(--height-trans3);
  -webkit-transition: var(--height-trans3);
  -moz-transition: var(--height-trans3);
  -ms-transition: var(--height-trans3);
  -o-transition: var(--height-trans3);
}

/*{tabs}*/
.ntt_tabs .active {
  background-color: var(--color-red-Smooth);
  color: var(--color-light);
}
.ntt_tabs-menu {
  position: sticky;
  position: -webkit-sticky;
  top: 1rem;
  z-index: 1011;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  transition: var(--all-trans7);
  -webkit-transition: var(--all-trans7);
  -moz-transition: var(--all-trans7);
  -ms-transition: var(--all-trans7);
  -o-transition: var(--all-trans7);
}

.ntt_tabs {
  display: grid;
  padding: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  height: 58px;
  background-color: var(--color-light);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.ntt_tabs h6 {
  text-align: center;
  padding-top: 5px;
  cursor: pointer;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  font-family: Inter, sans-serif;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: var(--all-trans3);
  -webkit-transition: var(--all-trans3);
  -moz-transition: var(--all-trans3);
  -ms-transition: var(--all-trans3);
  -o-transition: var(--all-trans3);
}
.ntt_tabs-content {
  padding: 40px 0px 10px 0px;
}
.ntt_tabs-content .ntt_tabs-products {
  display: none;
}
.ntt_tabs-content .active {
  display: block;
}
/* tabs::1::content::grid */
.ntt_tabs-products {
  padding-top: 3rem;
}
.ntt_tab_1-list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
@media only screen and (max-width: 920px) {
  .ntt_tab_1-list {
    grid-row-gap: 1.5rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
}
/* {tabs::1::::design */
.ntt_tab_1-box {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
}
.ntt_tab_1-wrapper {
  z-index: 1;
  height: auto;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: 1px;
  display: flex;
  position: relative;
  overflow: hidden;
}
/* tabs::2::content::grid */
.ntt_tabs-products {
  padding-top: 4rem;
}
.ntt_tab_2-list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
@media only screen and (max-width: 920px) {
  .ntt_tab_2-list {
    grid-row-gap: 1.5rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
}
/* {tabs::2::::design */
.ntt_tab_2-box {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
}
.ntt_tab_2-wrapper {
  z-index: 1;
  height: auto;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: 1px;
  display: flex;
  position: relative;
  overflow: hidden;
}
/* {article} */
@media screen and (min-width: 400px) and (max-width: 442px) {
  .section_home-header {
    padding-bottom: 14rem;
  }
}
